<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid text-center">
      <div>
        {{#if dwm.correct}}
        <!-- <h1>Nice!!!</h1> -->
        <h3><div style="color:blue; display:inline-block;">{{dwm.useranswer}}</div> definitely equals {{dwm.chosenword}}</h3>

        {{else}}
        <h3>Oops! Your answer of <div style="color:red; display:inline-block;">{{dwm.useranswer}}</div> isn't quite {{dwm.chosenword}}</h3>
        {{/if}}
        <h4>It took your {{dwm.keyshit}} strokes to type that.</h4>
        <img width="200vh" src="{{dwm.picture}}.gif" alt="">
      </div>
      <h1 style="font-size:6vw; padding: 30px;">{{dwm.pof}}</h1>
      <a href="/">
        <button type="button" autofocus class="btn btn-outline-primary" >
          {{dwm.back}}
        </button>
      </a>
    </div>
  </body>
</html>
