<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
    body{

    }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body style="background-image: url('stars.jpg');background-size:100vw 100vh; background-repeat: no-repeat;"><br><br>
    <div class="container-fluid text-center">
        {{#if answer_response_package.correct}}
        <!-- <h1 style='background-color:cornsilk;'>Nice!!!</h1> -->
          <div style="color:white; display:inline-block; font-size:12vw; opacity: 80%;"> {{answer_response_package.useranswer}}
            is correct</div>

        {{else}}
         <div style="color:white; display:inline-block; font-size:12vw;opacity: 80%;">" {{answer_response_package.useranswer}} "
         is not {{answer_response_package.chosenword}}</div>
        {{/if}}
        <!-- <h4 style='background-color:cornsilk;'>Looks like it took {{answer_response_package.keys_hit}}
          strokes to type that.</h4> -->

      <!-- <img width="200vh" src="{{answer_response_package.picture}}.gif" alt="">
      <h1 style="font-size:6vw; padding: 30px;background-color:cornsilk;">{{answer_response_package.pof}}</h1> -->
      <!-- <a href="/">
        <button type="button" autofocus class="btn btn-primary" >
          {{answer_response_package.back}}
        </button>
      </a> -->

      <div style="margin:50px;" class="form-group mt-0" id="ans-form">
        <div class="row">
          <div class="rounded col-md-8 col-sm-8 col-lg-8 mx-auto">
            <a href="/">
              <button type="button" autofocus class="btn btn-outline-info" >
                {{answer_response_package.back}}
              </button>
            </a>
          </div>
        </div>
    </div>
    <br>
  </body>
</html>
